*.aux
*.log
*.nav
*.out
*.snm
*.vrb
*.toc
async.pdf
cuda2d.pdf
cuda_mpi.pdf
images/async_null.pdf
images/async_simple.pdf
images/async_two_streams.pdf
images/blur_point_gather.pdf
images/blur_point_scatter.pdf
images/blur_point_shared.pdf
images/core.pdf
images/fp-perf.pdf
images/frequency.pdf
images/node.pdf
images/node_managed.pdf
images/node_raw.tex
images/overlap.pdf
images/reduction.pdf
images/smx.pdf
images/transistors.pdf
introduction.pdf
kernels.pdf
memory.pdf
miniapp.pdf
miniapp_intro.pdf
porting.pdf
shared.pdf

